In [6]:
#Question1:

person = {
    "first_name" : "Ammar",
    "last_name" : "Zaidi",
    "age" : "26",
    "city" : "Karachi"
}
for a,b in person.items():
    print(a,":",b);

#adding key value pair of qualification.
person["qualification"] = "Bachelors"

print("\n");

for a,b in person.items():
    print(a,":",b);
    
#updating qualification value to high academic level
person["qualification"] = "High academic level"

print("\n=====Final Output========\n");

for a,b in person.items():
    print(a,":",b);

first_name : Ammar
last_name : Zaidi
age : 26
city : Karachi


first_name : Ammar
last_name : Zaidi
age : 26
city : Karachi
qualification : Bachelors

=====Final Output========

first_name : Ammar
last_name : Zaidi
age : 26
city : Karachi
qualification : High academic level

In [14]:
#Question2:

cities = {
    "Karachi" : {
        "Country" : "Pakistan",
        "Population" : "40000000",
        "Fact" : "City of light turned into city of garbage."
    },
    "Mumbai" : {
        "Country" : "India",
        "Population" : "50000000",
        "Fact" : "One of the biggest city of India"
    },
    "Los Angeles" : {
        "Country" : "USA",
        "Population" : "60000000",
        "Fact" : "Hub of Hollywood"
    }
}

for a,b in cities.items():
    print("\n",a,"\n");
    for c,d in b.items():
        print("\t",c,":",d)

 Karachi

	 Country : Pakistan
	 Population : 40000000
	 Fact : City of light turned into city of garbage.

 Mumbai

	 Country : India
	 Population : 50000000
	 Fact : One of the biggest city of India

 Los Angeles

	 Country : USA
	 Population : 60000000
	 Fact : Hub of Hollywood

In [19]:
#Question3:

no_of_tickets = int(input("Enter number of tickets: "));

bill = 0;

for a in range(0,no_of_tickets):
    age = int(input("Enter age: "))
    if (age <= 3):
        bill+= 0;
    if (age > 3 and age <= 12):
        bill+= 10
    if (age > 12):
        bill+= 15

print("\nYour bill is:",bill);

Enter number of tickets: 5
Enter age: 1
Enter age: 5
Enter age: 15
Enter age: 15
Enter age: 1

Your bill is: 40

In [32]:
#Question4:

def favorite_book(x = "Book_none"):
    if(x == "Book_none"):
        print("Please enter value in parameter");
    else:
        print("One of my favorite books is",x);

favorite_book("Count de Monte Cristo");

One of my favorite books is Count de Monte Cristo

In [34]:
#Question5:

import random
a=0
rNumber=0
while a<3:
    rNumber=int(random.randrange(1,30))
    userNumber=int(input("Enter number between 1 and 30: "))
    a=a+1
    if rNumber>userNumber:
        print("Hidden number is greater\n")
    elif rNumber<userNumber:
        print("Hidden number is Smaller\n")
    else:
        print("Hidden number is equal\n")

Enter number between 1 and 30: 5
Hidden number is greater

Enter number between 1 and 30: 15
Hidden number is greater

Enter number between 1 and 30: 25
Hidden number is Smaller